:root[data-theme='dark'] {
    color-scheme: dark;

    --text: #fff;
    --bg: #000;
    --bg-rgb: 0,0,0;
    --thin: #afafaf;
    --outline: #343434;
    --border: #26272B;
    --little: #606060;
}

:root[data-theme='light'] {
    color-scheme: light;

    --text: #000;
    --bg: #fff;
    --bg-rgb: 255,255,255;
    --thin: #707070;
    --outline: #ececec;
    --border: #E4E4E7;
    --little: #E4E4E7;
}